* {
  background-color: white;
}

nav {
  padding: 0px 0px 15px 0px;
  height: 72px;
  color: black;
  text-align: center;
  font-size: 72px;
  font-family: System,monospace;
  white-space: normal;
}

hr {
  border: 1px solid black;
}

.verticalLine {
  border: 0px;
  width: 2px;
  background-color: black;
  height: 20px;
  margin: 0px, 0px;
}

.bark {
  border: 2px solid black;
  padding: 10px;
  margin: 0px auto;
  min-height: 90px;
  max-width: 720px;
  color: black;
  text-align: left;
  font-size: 24px;
  font-family: System,monospace;
  white-space: normal;
  word-wrap: break-word;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
}
